<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center mb-3">Edit Game Store</h1>
        <form action="/gamestores/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" name="campground[title]" class="form-control"
                    value="<%=campground.title%>" required>
                <div class="valid-feedback">Looks good</div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" id="location" name="campground[location]" class="form-control"
                    value="<%=campground.location%>" required>
                <div class="valid-feedback">Looks good</div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input id="price" type="text" class="form-control" placeholder="0.00" aria-label="price"
                        aria-describedby="price" name="campground[price]" value="<%=campground.price%>" required>
                    <div class="valid-feedback">Looks good</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" id="description" name="campground[description]" class="form-control"
                    required><%=campground.description%></textarea>
                <div class="valid-feedback">Looks good</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Add More Images</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
            </div>
            <div class="mb-3">
                <% campground.images.forEach(function(img, i) { %>
                <img src="<%=img.thumbnail%>" alt="" class="img-thumbnail">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                </div>
                <label for="image-<%=i%>">Delete Image</label>
                <% }) %>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Game Store</button>
            </div>
        </form>
        <form action="/gamestores/<%=campground._id%>">
            <button class="btn btn-primary">Back to Details</button>
        </form>
    </div>
</div>